# APP
APP_API_URL=http://localhost:3333
PORT=3333

# DATABASE
DATABASE_URL=postgres://postgres:docker@localhost:5432/opina
ORM_ENTITIES_DIR=src/modules/**/infra/typeorm/entities/*.ts
ORM_MIGRATIONS_DIR=src/shared/infra/typeorm/migrations/*.ts

# JWT
JWT_SECRET=secret
JWT_EXPIRES_IN: '1d'

# Storage (disk or s3)
STORAGE_DRIVER=disk

# AWS Credentials (required for s3 storage)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_REGION=
